.my_grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.has-blue-background {
    background-color: rgb(20, 0, 149);
    border: 1px solid #000000;
}

.has-yellow-background {
    background-color: rgb(230, 246, 18);
    border: 1px solid #050302;
}